body
{
	/*background-image: url("../image/Background3.jpg");
	 
	background-repeat: repeat-x;*/

}

@font-face 
{
	font-family: "Alex-Brush";
	src: url("../fonts/AlexBrush-Regular.ttf");
}

@font-face 
{
	font-family: "Neutra";
	src: url("../fonts/Neutra.ttf");
}

@font-face 
{
   	font-family: "Open-sans";
	src: url("../fonts/OpenSans-Regular.ttf");
	font-family:"Open-sans-light";
	src: url("../fonts/OpenSans-Light.ttf");
}

@font-face
{
	font-family:"Peignot";
	src: url("../fonts/Peignot.ttf");
}
	
#main
{
	width:900px;
	margin:auto;
	
}


nav{
	/*width:469px;*/
	margin-top: -45px;
}


#title1
{
	width:350px;
	margin-top: 30px;
}

#title1 h1
{
	text-align:center;
	margin-bottom: 0;
	color:rgb(254,134,120);
	font-size: 65px;
	font-family:"Alex-Brush";
}

#sous-titre
{
	text-align:center;
	margin-top:-15px;
	font-family: "Alex-Brush";
	font-size: 19px;
	color: #000;
}

.carrousel
{	
	postition:relative;
	height:192px;
	    /*CSS3 keyframes animation*/
}

.wrap
{				
	clear:right;
	overflow: hidden;
	position: relative;
	top:65px;
	height: 200px;
	width: 840px;
	background-color:white;
	border-bottom: 1.5px solid black;
	border-top: 1.5px solid black;
	margin:auto;
}

.carrousel li
{
	display:block;
	position:relative;
	width:150px;
	height:150px;
	margin:15px;
	
	display:inline-block;
	vertical-align: center;

}

.carrousel li img:hover
{
	-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		 -ms-transform: scale(1.5);
		  -o-transform: scale(1.5);
			 transform: scale(1.5);
}

.carrousel li img{
-webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
     -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
      -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
         transition: all .5s cubic-bezier( .6, 2, .4, 1);
}

.carrousel:hover li img:not(:hover){
-webkit-filter: grayscale(1) blur(5px);
    -moz-filter: grayscale(1) blur(5px);
     -ms-filter: grayscale(1) blur(5px);
      -o-filter: grayscale(1) blur(5px);
         filter: grayscale(1) blur(5px);
}

h2
{

	font-family: "Alex-Brush";
	color:rgb(254,134,120);
	font-size: 46px;

}


.concept
{
	text-align:left;
	margin:15px 0 0 23px;
}

.texte_concept
{
	text-align:justify;
	margin-left: 20px;
	display:block;
	width: 600px;
	padding:5px;
	color:black;
	margin-top: 0;
}

.texte_concept a
{
	
	text-decoration : none;
	color: rgb(254,134,120);
	text-decoration:bold;
}


p
{	
	font-size:15px;
	font-family:"Open-sans-light";
	color: black;
	text-align: left;
}



#menu, #menu ul /* Liste */     
{	
        padding :0; /* pas de marge intérieure */
        margin : 0; /* ni extérieure */
        list-style : none; /* on supprime le style par défaut de la liste */
        line-height : 30px; /* on définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
}

#menu /* Ensemble du menu */
{		
		width:900px;
		font-weight : bold; /* on met le texte en gras */
        font-family: "Peignot";
        font-size : 16px; /* hauteur du texte : 12 pixels */
}


#menu a /* Contenu des listes */
{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
        padding : 0; /* aucune marge intérieure */
        color : #000; /* couleur du texte */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
        width : 95px; /* largeur */
}

#menu li /* Elements des listes */      
{ 
        float:right;
        /* pour IE qui ne reconnaît pas "transparent" */
        border-right : 2px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li
{
        border-right: 2px solid transparent ; /* on met une bordure transparente à droite de chaque élément */
}

#menu li ul /* Sous-listes */
{ 
        position: absolute; /* Position absolue */
        width: 150px; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
		
}


#menu li ul li /* Éléments de sous-listes */
{
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        font-size:10px;
		text-align:center;
		border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li ul li                
{
        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */
}

#menu li ul ul 
{
        margin    : -22px 0 0 10px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */      
}

/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
html>body #menu li ul ul                
{
        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */
}

#menu a:hover /* Lorsque la souris passe sur un des liens */    
{
     /*text-decoration: underline;*/
     border-bottom: 1px solid black;
}

#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}


.qui,.ton_profil
{
	top:120px;
	text-align:center;
	color:rgb(254,134,120);
	font-size: 55px;
	font-family:"Alex-Brush";
}

h3
{
	color:rgb(176,176,176);
	font-size: 40px;
	font-family:"Alex-Brush";
}
.PL_chat
{
	top:250px;
	position: relative;
	color:rgb(176,176,176);
	font-size: 40px;
	font-family:"Alex-Brush";
}
h3+p{
	margin: 5px;
	position: relative;
	top:400px;
	color:rgb(254,134,120);
	font-size: 20px;
	font-family:"Open-sans-light";
	font-style:italic;
}
.PL_chat_texte
{
	margin: 5px;
	position: relative;
	top:210px;
	color:rgb(254,134,120);
	font-size: 20px;
	font-family:"Open-sans-light";
	font-style:italic;
}
#PL{
	margin:5%;
	float:left;
	position:relative;
	top:100px;
}

.titre_profil
{	
	display: block;
	display:inline-block;
	top:100px;
	margin-bottom: 0px;
	text-decoration:underline;
}

.liste_profil{
	list-style: none;
}

.titre_profil + .liste_profil, .titre_profil + .conseillers
{
	
	display: block;
	line-height:30px;
	margin-bottom: 0;
	font-size:14px;
	font-family:"Open-sans-light"
	
}

.description
{
	display:block;
	margin-right: 30px;
	position:relative;
	text-align: justify;
	height:370px;

}


.Chaussure_photo
 {
 	width:495px;
 	height: auto;
 	top:10px;
 	z-index: 1;
 }

h4
{

	font-family: "Alex-Brush";
	font-size: 25px;
	color: rgb(254,134,120);

}

#photo_chaire 
{
	list-style:none;
	border: 1px solid rgb(176,176,176);
	width: 100%;
}

.profil-intro{
	margin-top: 65px;
	text-align: center;
}

#citation
{
	margin-top: 80px;
	text-align:center;
	font-family:"Open-sans-light";
	font-size: 18px;
	color: black;
	}
	
#auteur
{
	text-align:center;
	font-family:"Open-sans-light";
	font-size: 18px;
	color: black;
}
	
.conseillers li
{
	display:inline-block;
	width: 160px;
	text-decoration: bold;
	margin:30px;
	text-align:center;
	
}

.align-top{
	vertical-align: top;
}

.align-bottom{
	vertical-align: bottom;
}

.conseillers
{

display:block;
width:100%;
height:200px;
margin: auto;
}
.conseillers li strong
{
color:rgb(254,134,120);
font-size:28px;
font-family:"Alex-Brush";
}

.conseillers li a
{list-style:none;
color:white;

}

footer{
	display: block;
	height: 50px;
}