body
{
	/*background-image: url("../image/Background3.jpg");
	 
	background-repeat: repeat-x;*/

}

@font-face 
{
	font-family: "Alex-Brush";
	src: url("../fonts/AlexBrush-Regular.ttf");
}

@font-face 
{
	font-family: "Neutra";
	src: url("../fonts/Neutra.ttf");
}

@font-face 
{
   	font-family: "Open-sans";
	src: url("../fonts/OpenSans-Regular.ttf");
	font-family:"Open-sans-light";
	src: url("../fonts/OpenSans-Light.ttf");
}

@font-face
{
	font-family:"Peignot";
	src: url("../fonts/Peignot.ttf");
}
	
#main
{
	width:900px;
	margin:auto;
	
}


nav{
	/*width:469px;*/
	margin-top: -30px;
}


#title1 h1
{
	margin-bottom: 0;
	color:rgb(254,134,120);
	font-size: 65px;
	font-family:"Alex-Brush";
}

#sous-titre
{
	margin:-15px 0 0 22px;
	font-family: "Alex-Brush";
	font-size: 19px;
	color: #000;
}
.background-wrap
{
	background-image: url('../image/stripes.png');
	padding:15px;
}

.wrap
{				
	clear:right;
	overflow: hidden;
	top:65px;
	height: 175px;
	width: 100%;
	background-color:white;
	margin:auto;
}

.carrousel li
{
	display:block;
	margin-right:54px;
	display:inline-block;
	vertical-align: center;

}

.carrousel li img:hover
{
	-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		 -ms-transform: scale(1.5);
		  -o-transform: scale(1.5);
			 transform: scale(1.5);
}

.carrousel li img{
-webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
     -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
      -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
         transition: all .5s cubic-bezier( .6, 2, .4, 1);
}

.carrousel:hover li img:not(:hover){
-webkit-filter: grayscale(1) blur(5px);
    -moz-filter: grayscale(1) blur(5px);
     -ms-filter: grayscale(1) blur(5px);
      -o-filter: grayscale(1) blur(5px);
         filter: grayscale(1) blur(5px);
}

h2
{

	font-family: "Alex-Brush";
	color:rgb(254,134,120);
	font-size: 46px;

}


.concept
{
	text-align:left;
	margin:35px 0 0 0;
}

.texte_concept
{
	text-align:justify;
	display:block;
	padding:5px;
	color:black;
	margin-top: 0;
}

.texte_concept a
{
	
	text-decoration : none;
	color: rgb(254,134,120);
	text-decoration:bold;
}


p
{	
	font-size:15px;
	font-family:"Open-sans-light";
	color: black;
	text-align: justify;
	margin-top: 0px;
	 margin-bottom: 0px
}



#menu, #menu ul /* Liste */     
{	
        padding :0; /* pas de marge intérieure */
        margin : 0; /* ni extérieure */
        list-style : none; /* on supprime le style par défaut de la liste */
        line-height : 30px; /* on définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
}

#menu /* Ensemble du menu */
{		
		width:900px;
		font-weight : bold; /* on met le texte en gras */
        font-family: "Peignot";
        font-size : 16px; /* hauteur du texte : 12 pixels */
}


#menu a /* Contenu des listes */
{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
        padding : 0; /* aucune marge intérieure */
        color : #000; /* couleur du texte */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
        width : 95px; /* largeur */
}

#menu li /* Elements des listes */      
{ 
        float:right;
        /* pour IE qui ne reconnaît pas "transparent" */
        border-right : 2px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li
{
        border-right: 2px solid transparent ; /* on met une bordure transparente à droite de chaque élément */
}

#menu li ul /* Sous-listes */
{ 
        position: absolute; /* Position absolue */
        width: 150px; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
		
}


#menu li ul li /* Éléments de sous-listes */
{
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        font-size:10px;
		text-align:center;
		border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li ul li                
{
        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */
}

#menu li ul ul 
{
        margin    : -22px 0 0 10px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */      
}

/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
html>body #menu li ul ul                
{
        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */
}

#menu a:hover /* Lorsque la souris passe sur un des liens */    
{
     border-bottom: 1px solid black;
}


.qui,.ton_profil
{
	top:120px;
	text-align:center;
	color:rgb(254,134,120);
	font-size: 55px;
	font-family:"Alex-Brush";
}

h3
{
	color:rgb(176,176,176);
	font-size: 40px;
	font-family:"Alex-Brush";
}
.PL_chat
{
	top:250px;
	position: relative;
	color:rgb(176,176,176);
	font-size: 40px;
	font-family:"Alex-Brush";
}
h3+p{
	margin: 5px;
	position: relative;
	top:400px;
	color:rgb(254,134,120);
	font-size: 20px;
	font-family:"Open-sans-light";
	font-style:italic;
}
.PL_chat_texte
{
	margin: 5px;
	position: relative;
	top:210px;
	color:rgb(254,134,120);
	font-size: 20px;
	font-family:"Open-sans-light";
	font-style:italic;
}
#PL{
	margin:5%;
	float:left;
	position:relative;
	top:100px;
}

.titre_profil
{	
	display: block;
	display:inline-block;
	top:100px;
	margin-bottom: 0px;
	text-decoration:underline;
}

.liste_profil{
	list-style: none;
}

.titre_profil + .liste_profil, .titre_profil + .conseillers
{
	
	display: block;
	line-height:30px;
	margin-bottom: 0;
	font-size:14px;
	font-family:"Open-sans-light"
	
}

.conseillers img{
	margin-bottom: 10px;
}

.description
{
	display:block;
	position:relative;
	text-align: justify;
}


.Chaussure_photo
 {
 	width:495px;
 	height: auto;
 	top:10px;
 	z-index: 1;
 }

h4
{

	font-family: "Alex-Brush";
	font-size: 35px;
	color: rgb(254,134,120);
	margin-bottom: 0px;
	margin-top: 40px;

}

#photo_chaire 
{
	list-style:none;
	border: 1px solid rgb(176,176,176);
	width: 100%;
}

.profil-intro{
	text-align: center;
}

#citation
{
	margin-top: 15px;
	text-align:center;
	font-family:"Open-sans-light";
	font-size: 18px;
	color: black;
	}
	
#auteur
{
	text-align:center;
	font-family:"Open-sans-light";
	font-size: 18px;
	color: black;
}
	
.conseillers li
{
	display:inline-block;
	width: 160px;
	text-decoration: bold;
	margin:30px;
	text-align:center;
	
}

.align-top{
	vertical-align: top;
}

.align-bottom{
	vertical-align: bottom;
}

.conseillers
{

display:block;
width:100%;
height:200px;
margin: auto;
}
.conseillers li strong
{
color:rgb(254,134,120);
font-size:28px;
font-family:"Alex-Brush";
}

.conseillers li a
{list-style:none;
color:white;

}

.panierProduit{
	
	background-color: #FFF;
}

.background-achat{
	background-image: url('../image/stripes.png');
	background-repeat: repeat;
	padding: 15px;
}

.panierProduit td:nth-child(2){
	padding-left: 15px;
}

.panierProduit td:nth-child(2) form{
	text-align: center;
}


.pointure{
	background: rgb(254,134,120);
	padding: 10px;
	text-align: center;
	width: 80%;
	margin: auto;
}

.pointure p{
	color:#FFF;
	margin-top:0;
	text-align:center;
	font-size: 12px;
}

.pointure select{
	padding:10px;
	width: 85%;
	text-align: center;
	background: #FFF;
	border: 1px solid rgb(176, 176, 176);
	font-family: "Open-sans-light";
	font-size: 12px;
}

.conditions{
  text-align: center;
  width: 85%;
  margin: auto;
  margin-bottom: 15px;
  padding-top: 20px;
  border-top: 2px solid #ebebeb;
}

.offert{
	font-weight: bold;
	font-size: 30px;
	font-family: "Peignot";
}

.livraison{
	font-family: "Peignot";
	font-size: 17px;
}

input[name='addPanier']{
	width: 85%;
	padding:15px;
	background: rgb(254,134,120);
	color:#FFF;
	border: none;
	cursor: pointer;
	margin: auto;
	font-family: "Open-sans-light";
	font-weight: bold;
	font-size: 16px;
}

input[name='addPanier']:hover{
	background-color: #F06A5A;
}

.title-produit{
	font-size: 30px;
	color:#000;
	display: block;
	margin: 0 0 15px 26px;
	font-family: "Peignot";
}


#panier table{
	width: 100%;
}

#panier table td{
	text-align: center;
	border-bottom: 2px solid #ebebeb;
	font-family: "Open-sans-light";
	width: 150px;
}

#panier table td:nth-child(2)
{
	font-weight: bold;
}

#panier table th{
	padding-bottom: 30px;
	border-bottom: 2px solid #ebebeb;
	font-family: "Open-sans-light";
}

.merge-header{
	height:65px;
}


/** ERRORS MESSAGES **/
.confirm{
  width: 900px;
  height: 20px;
  display: block;
  padding: 10px 0 10px 0;
  border-top: 1px solid #65D287;
  color: #65D287;
  text-align: center;
  border-bottom: 1px solid #65D287;
  margin-bottom: 10px;
  font-family: "Open-sans-light";
  font-weight: bold;
}

.error{
  width: 900px;
  height: 20px;
  display: block;
  padding: 10px 0 10px 0;
  border-top: 1px solid #b90504;
  color: #b90504;
  text-align: center;
  border-bottom: 1px solid #b90504;
  margin-bottom: 10px;
  font-family: "Open-sans-light";
  font-weight: bold;
}

footer{
	display: block;
	height: 50px;
}

#plus, #moins
{

  font-family: "Open-sans-light";
  border: 1px solid rgb(176,176,176);
  padding: 10px;
  margin-top: 0px;
  padding-left: 20px;
  list-style: none;
  text-align: center;
  font-weight: bold;
  font-size: 15px;

}
#plus li, #moins li
{

	margin-bottom:10px;
}
#tab_plus_moins
{
  color:rgb(254,134,120);
  font-size: 30px;
  font-family: "Alex-Brush";
  font-weight: bold;
}

#plus li img, #moins li img
{
width:3%;
margin-right: 5px;
}

#plus_moins
{
background-color: white;

}

#plus_moins table,
{
	border: 1px solid black;
}

#plus_moins table ul
{

  margin: 5px;
}

#para_1, #para_3
{

	font-weight: bold;
	list-style: none;
	font-family: "Alex-Brush";
	font-size: 22px;
	text-align:right;

}

#acquisition
{

	background-image: url('../image/stripes.png');
	background-repeat: repeat;
	padding: 15px;
}

.para
{

background-color: white;
vertical-align: center;
}

#para_2,  #para_4
{
	font-weight: bold;
	list-style: none;
	font-family: "Open-sans-light";
	text-align: left;
	font-size: 14px;


}

.answer
{
	font-weight: bold;
	text-align: justify;
	list-style: none;
	font-family: "Open-sans-light";
	font-size: 14px;

}

#para_1 li, #para_3 li 
{

	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	text-align:center;
}

#para_2 li, #para_4 li 
{
	vertical-align: top;
	padding-top: 12px;
	padding-bottom: 12px;
}

#para_3 li
{

	padding-bottom: 25px;

}

#tab_fiche th
{
  color:rgb(254,134,120);
  font-size: 35px;
  font-family: "Alex-Brush";
  font-weight: bold;
  text-align: left;
  margin-top: 30px;
}
.titre_tab
{

	margin-top:50px;
}

aside p
{
	background-color: white;
	padding: 15px;
}

#paragraphe
{
	border: 1px solid rgb(176,176,176);
	

}

#tab_plus, #tab_moins
{
	border: 1 px solid rgb(176,176,176);
}

#triche
{
	color:white;
}